$def with (content)
<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>$content.title</title>
	<link href='http://git-scm.com/favicon.ico' rel='shortcut icon' type='image/x-icon'>
	<link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css">
	<link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css">
</head>
<body>
	<div class="container">
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="#">Git-full FTP</a>
				</div>
			</div>
		</div>
		<br><br><br>
	</div>
	$:(content)
</body>
</html>