$def with (content)
<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>
		$content.title
	</title>
	<link href='http://git-scm.com/favicon.ico' rel='shortcut icon' type='image/x-icon'>
	<link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css">
	<link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css">
	<script src="http://twitter.github.com/bootstrap/assets/js/jquery.js"></script>
	<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>
</head>
<body>
	<br><br>
	<div class="container">
		<div class="navbar navbar-fixed-top1">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="$content.base_url">Git-full FTP</a>
					<ul class="nav">
						<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown">
							Actions <b class="caret"></b>
						</a>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
						<li><a tabindex="-1" href="/add">Add your Deployment</a></li>
						<li><a tabindex="-1" href="/find">Find your deployment link</a></li>
						</ul>
						</li>
					</ul>
					<ul class="nav pull-right">
						<li><a href="http://github.com/manamol296/git-full_ftp" target="_blank">Source Code</a></li>
						<li><a href="#">Developed by Amol Mandhane</a></li>
					</ul>
				</div>
			</div>
		</div>
		<br><br><br>
	</div>
	$:content
<script>
	$('.dropdown-toggle').dropdown();
</script>
</body>
</html>