$def with (content)
<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		$content.title
	</title>
	<link href='http://git-scm.com/favicon.ico' rel='shortcut icon' type='image/x-icon'>
	<link rel="stylesheet" href="http://bootswatch.com/cyborg/bootstrap.css">
	<link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css">
	<!-- <link rel="stylesheet" href="http://localhost:8080/static/darkstrap.css"> -->
	<!-- <script src="http://twitter.github.com/bootstrap/assets/js/jquery.js"></script>
	<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script> -->
</head>
<body>
	<br><br>
	<div class="container">
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="/">Git-full FTP</a>
					<ul class="nav pull-right">
						<li><a href="http://github.com/manamol296/git-full_ftp" target="_blank">Source Code</a></li>
						<li><a href="#">Developed by Amol Mandhane</a></li>
					</ul>
				</div>
			</div>
		</div>
		<br>
	</div>
	$:content
<script>
	$('.dropdown-toggle').dropdown();
</script>
</body>
</html>